@import "tailwindcss";

 html {
      scroll-behavior: smooth;
    }



:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-light: #F3FFB4;
  --color-calm: #9AA2C0;
  --color-deep-calm: #002F55;
  --color-horror: #00122B;
  --color-mist: #CEDCCC;
  --color-weird-white: #E1E9D4;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


@utility no-scrollbar {
  /* Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}



/* global.css */
::-webkit-scrollbar {
  width: 6px; /* largura da barra vertical */
  height: 6px; /* altura da barra horizontal */
}

::-webkit-scrollbar-track {
  background: #9AA2C0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #F3FFB4; /* cor do "thumb" (laranja Tailwind) */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #CEDCCC; /* cor ao passar o mouse */
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}

/* Pausa a animação ao passar o mouse */
.animate-scroll:hover {
  animation-play-state: paused;
}